"" Source your .vimrc
"source ~/.vimrc

let mapleader=" "

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>


""" Plugins  ------------------------------------------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set exchange
" Trying the new syntax
Plug 'machakann/vim-highlightedyank'


""" Plugin settings -----------------------------------------------------------
let g:argtextobj_pairs="[:],(:),<:>"


" <C-n> seems to me as a better solution than <M-n>,
" but we should finally support vim-visual-multi because vim-multiple-cursors is deprecated now
map <C-n> <Plug>NextWholeOccurrence


""" Common settings -----------------------------------------------------------
set scrolloff=0
# set relativenumber
set visualbell " Disable the audible bell

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" Enable NERDTree so we can use the hjkl keys to navigate the file explorer
set NERDTree

" Allow using the system clipboard from IdeaVim and vice-versa
set clipboard+=unnamed
set clipboard+=ideaput


""" Idea specific settings ----------------------------------------------------
set ideastatusicon=gray

" Sync IJ bookmarks and Vim marks
set ideamarks

" Enable join via the IDE
set ideajoin


""" Terminal ------------------------------------------------------------------
map <c-t> <Action>(ActivateTerminalToolWindow)
map <leader>t <Action>(Terminal.OpenInTerminal)


""" My mappings ---------------------------------------------------------------
map <leader>e <Action>(ActivateProjectToolWindow)
map <leader>w <Action>(SaveAll)

" Language
map <K> <Action>(QuickJavaDoc)
map <leader>li <Action>(QuickImplementations)
map <leader>la <Action>(ShowIntentionActions)
map <leader>lr <Action>(RenameElement)

" Diagnostics
map <leader>ld <Action>(ShowErrorDescription)
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)

" Debugging
map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)

map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <leader>o <Action>(FileStructurePopup)

